@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.applyBtn {
  bottom: 100px;
}

:root {
    --background-rgb: 9 9 11;
    --background-light-rgb: 30 41 59;
    
    --border-rgb: 255 255 255;
    --border: 1px solid rgb(var(--border-rgb) / 20%);
    
    --hyperplexed-main-rgb: 41 121 255;
    --hyperplexed-main-light-rgb: 56 182 255;
    --hyperplexed-secondary-rgb: 42 252 152;
    
    --card-size: 480px;
    --font-size: 0.8rem;
    --logo-size: calc(var(--card-size) * 0.3);
}

/*body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    
    background: rgb(var(--background-rgb));
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
}*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card-track {
    height: 100%;
    width: var(--card-size);
    display: flex;
    align-items: center;
    position: relative;
}

.card-wrapper {
    width: 100%;
    position: relative;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    position: relative;
    /* margin: 1rem; */
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
}

.card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  position: relative;
  /* margin: 1rem; */
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.mainContent {
  z-index: 10; 
  pointer-events: none;
}

.card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 4;
}

.card-image > img {
    width: var(--logo-size);
}

.card-gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    background: radial-gradient(
      rgb(var(--hyperplexed-main-rgb)) 50%, 
      rgb(var(--hyperplexed-main-light-rgb)),
      rgb(var(--hyperplexed-secondary-rgb))
    );
    mix-blend-mode: darken; 
    pointer-events: none;
    z-index: 3;
}

.card:hover .card-letters {
    opacity: 1;
}

.card2:hover .card-letters {
  opacity: 1;
}

/* START */

.card-track {
    height: 100vh;
    width: 98.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    margin-left: 0px;
}

.card {
    width: 100vw;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0;
    overflow: hidden;
    cursor: pointer;
    top: 0;
}

.card2 {
  width: 100vw;
  height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0;
  overflow: hidden;
  cursor: pointer;
  top: 0;
}

.card-letters {
    --x: 0px;
    --y: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    color: white;
    font-size: var(--font-size);
    font-weight: 500;
    word-wrap: break-word;
    opacity: 0;
    transition: opacity 400ms;
    -webkit-mask-image: radial-gradient(
    80vmin circle at var(--x) var(--y), 
    rgb(255 255 255) 20%, 
    rgb(255 255 255 / 25%), 
    transparent
    );
    scale: 1.03;
}